.Users{
    width: 500px;
    height: 500px;
    border:2px solid black;
    margin: auto;
    margin-top: 128px;
    border-radius: 10px;
    background-color: rgb(220, 220, 235);
}
.userstyle{
    height: 200px;
    width: 200px;
    margin:auto;
    margin-top: 90px;
}
#Usrlogin{
    height: 39px;
    width: 97px;
    margin-top: 14px;
}