.Adminlogin{
    width: 500px;
    height: 450px;
    border:2px solid black;
    margin: auto;
    margin-top: 90px;
    border-radius: 10px;
    background-color: rgb(220, 220, 235);
    background-image: url('../../assets/background.jpg');
}
.Adminlogin:hover
{
    box-shadow: 10px 10px rgb(27, 25, 25);
}
.AdminloginStyling{
    width: 300px;
    height: 200px;
    margin: 150px auto;
    margin-left: 150px;
    margin-top: 155px;
}
.admininput{
    width: 185px;
    height: 35px;
}
.admininput:hover{
    background-color: rgb(157, 191, 223);
}
.conditionalAdminStyling{
    color: red;
    font-weight: bold;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}
#btnAdmin{
    margin-left: 35px;
    height: 44px;
    margin-top: 25px;
    width: 98px;
}
#btnAdmin:hover
{
    background-color: rgb(155, 221, 136);
}
#Adminimage{
    height: 80px;
    width: 80px;
    margin-left: 58px;
    margin-top: -78px;
}
