.Edit{
    width: 70%;
    height: 500px;
    border:2px solid black;
    margin: auto;
    margin-top: 128px;
    border-radius: 10px;
    background-color: rgb(220, 220, 235);

}
.decorate{
    padding: 52px;
}
.btn{
    height: 35px;
    width: 100px;
    background-color: rgb(153, 153, 189);
    margin-top: 30px;
    margin-left: 32px;
}
#space1{
    padding: 22px;
    margin-left: 43px;
}
#space2{
    margin-top: 20px;
}
#space3{
    margin-top: 68px;
    margin: 31px;
    margin-left: 61px;

}
#space4{
    margin-top: 20px;
    margin-left: 19px;

}
.fetchdata{
    background-color: hotpink;
}